#about-box
  %p 
    I’m Ratan Sebastian, a 19 year old programmer from Chennai. 
    %img{:src => '/images/blavatar.jpg', :class => "right", :style => "margin: 0px"}
    I'm an undergraduate student majoring in Industrial Engineering at the Indian Institute of Technology, Khragpur and I also hack away at web site code with my trusty little editor (vim) in the hopes of making the WWW a better place. I try my best to write beautiful ruby code and design front-ends to match it. Ocassionally I develop sites with PHP and Wordpress. Right now I’m working part time with 
    %a{:href => "http://sapnasolutions.com"}
      Sapna Solutions
    as a RoR developer and am looking or opportunities to learn and grow. 
  %p
    Work aside, I enjoy quizzing, 
    %a{:href => "/pics"}
      photography
    , travelling, 
    %a{:href => "/category/film"}
      character driven films 
    and coffee.
