-@posts.each do |post|
  .post-header
    %h2
      %a{:href => "/post/#{post.slug}"}
        = post.title
    .post-info
      - post.tags.each do |tag|
        %a{:href => tag.link}
          = tag.name
        .clear
        = post.created_at.strftime("%d/%m/%y")
    .clear.hr 
  %p
    =post.snippet
  .big-gap 
