!!! Strict
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "Code, Tech, and Life from Ratan Sebastian"}
    %meta{ :name => "keywords", :content => "Ruby, Web, Development, HTML, CSS, JavaScript, web design, Linux, FOSS, IIT, IIT Kharagpur, India, student, intern" }
    %meta{ :name => "viewport", :content => "width=800" }
    %title
      = @extra_title
      \- Ratan Sebastian
    %link{ :href => "/css/blueprint/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "/css/blueprint/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    //[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif] 
    %link{ :href => "/css/main.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://feeds.feedburner.com/rjsvaljean", :title => "Ratan Sebastian: Posts", :rel => "alternate", :type => "application/rss+xml" }
  %body{ :class => "url_parts" }
    #everything.container
      #head.span-20.last
        %h1
          %a{:href => "/", :style => "text-decoration: none; color: black"}
            Ratan Sebastian
        #nav
          %a.home{ :href => "/", :style => "margin-left: 0px" }
            Home
          %a.projects{ :href => "/projects" }
            Projects
          %a.about{ :href => "/about" }
            About
          %a.feeds{ :href => "http://feeds.feedburner.com/seanhess" }
            Feed
          %a.archive{ :href => "/archive" }
            Archive
        %hr.space
      #content.span-20.last
        = yield
    %hr.space
    %hr
    #footer
      .container
        .span-20.badges
          %div.span-5
            %a{ :href => "http://feeds.feedburner.com/rjsvaljean" }
              %img{ :src => "/images/rss1.jpg", :alt => "Feeds" }
          %div.span-5
            %a{ :href => "http://twitter.com/rjsvaljean" }
              %img{ :src => "/images/twitter4.png", :alt => "Follow me on twitter" }
          %div.span-5
            %a{ :href => "http://validator.w3.org/check?uri=referer" }
              %img{ :src => "http://www.w3.org/Icons/valid-html401-blue", :height => "31", :alt => "Valid HTML 4.01 Strict", :width => "88" }
          %div.span-5.last
            %a{ :href => "http://www.linkedin.com/in/rjsvaljean" }
              %img{ :src => "/images/linkedin.gif", :alt => "View Ratan Sebastian on LinkedIn", :width => "160" }
        .credits.span-20
          %strong
            powered and inspired by -
          %a{ :href => "http://www.ruby-lang.org/" }
            ruby
          %a{ :href => "http://www.sinatrarb.com" }
            sinatra
          %a{ :href => "http://datamapper.org/" }
            data mapper
          %a{ :href => "http://apache.net/" }
            apache2
          %a{ :href => "http://www.modrails.com/" }
            passenger
