#project-list
  #rxvl.project
    %h3 rxvl
    %h4.alt Custom blogging engine that runs this blog. Hacked together with sinatra, datamapper and haml.
    %p.description
      %ul
        %h4 Pros
        %li Posts maintained with git. No more messy HTML forms to write your posts write them in your favourite text editor.
        %li Write your posts in haml and any of the filters that HAML provides.
        %li Update and delete with command line scripts.
        %li Very minimalist. Only for programmers.
      %ul
        %h4 Cons
        %li You need to have shell access to the host.
        %li Right now it supports only heroku deploys
        %li Very minimalist. Only for programmers.
    %pre.url http://github.com/rjsvaljean/rxvl
    %hr
  #news_roll.project
    %h3 News Roll
    %h4.alt 
      %a{:href => "http://radiantcms.com"}
        Radiant 
      plugin to manage news items in multiple languages.
    %p.description My first plugin for radiant. It was written in my early ruby days so there is no test coverage. Use with caution! You have been warned.
    %pre.url http://github.com/rjsvaljean/news_roll
    %hr
  #academic.project
    %h3 Academic Projects
    %h4.alt IIT Kharagpur's ERP system
    %p.description I developed components for an ERP system to be deployed in IIT Kharagpur using Ruby on Rails. I developed a proof-of-concept single-sign-on system and a registration module for the system.
    %pre.url http://erp.iitkgp.ernet.in
    %h4.alt Algorithm design for a Path-Finder Robot
    %p.description The project involved programming in Assembly for an 8052 micro-processor. The objective being to guide an automated bot through a maze with obstacles. We successfully designed a framework for any obstacle avoiding autonomous robot.
    %hr
  %h3
    .center
      %a{:href => "http://github.com/rjsvlajean"} Other random bits and peices of code
