body {
  font-size: 110%;
}

a {
color: black;
}

#nav a {
  font-size: 80%;
  text-transform: uppercase;
  margin: 0px 10px;
}

.post_title a {
  font-size: 140%;
}

pre {
  font-size: 80%;
  overflow: auto;
}
