body {
  font-size: 110%;
}

a {
color: black;
}

#nav a {
  font-size: 80%;
  text-transform: uppercase;
  margin: 0px 10px;
}

.post_title a {
  font-size: 140%;
}

.post_categories a {
  font-size: 80%;
  text-transform: uppercase;
  background-color: #DDD;
}

.post_date {
  background-color: #DDD;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}
pre {
  font-size: 80%;
  overflow: auto;
}
