body {
  font-size: 110%;
}

#nav a {
  font-size: 120%;
  font-weight: bold;
  color: black;
  margin: 0px 10px;
}

.post_title a {
  font-size: 140%;
  color: black;
}

pre {
  font-size: 80%;
  overflow: auto;
}
