%h1
  Using Sinatra
%span.date
  08-05-2010
%p.content
  .snippet
    I've been meaning for some time to write my own blogging engine and now that I finally got the time I went for it. It was meant to be a learning excercise so I tried to use tools and libraries that I'd never used before. I ended up chosing Sinatra for the framework to write it in with an SQLite DB and using DataMapper as the ORM. Also, I intended to host it on Heroku. In this article I've described everything from setting up my development environment for sinatra to finally deploying it on Heroku. Enjoy!
    %br
    %strong
      Update:
    The whole process is apparently too big for one post so I'm going to break it down into several. I hope I can keep it comprehensible.
  .main
    %h2
      coming soon
