%h1
  Getting menus to appear on top of flash elements
%span.date
  21-03-2010
%span.categories
  html
%p.content
  .snippet
    This is basically to address the situation when you have a flash video or some such embed object on a page and a javascript menu that goes behind it when it opens. The fix is pretty simple. Just add the wmode attribute of your embed tag to ‘transparent’.
    %pre
      =preserve do
        :escaped
        <embed src="...", wmode = "transparent"/>
