%h1
  Invictus, Coco Avant Chanel and The Hurt Locker
%span.categories
  film
%span.date
  24-02-2010
%p.content
  .snippet
    %h4
      Invictus
    %div
      %p Morgan Freeman playing Nelson Mandela tries to use the national rugby team captained by Francois Pineaar(Matt Damon) as a tool to unite a nation divided by fear. Directed by Clint Eastwood.
      %p Cons: Tries to be yet another sports drama that tells the story of the victorious underdogs but fails to resonate emotionally. Poor direction and cinematography.
      %p Pros: Morgan Freeman’s performance is the only thing worth watch this film for and maybe the decent score.
      %hr.space
      %p Rating: 3/5
  .main
    %h4
      Coco Avant Chanel
    %div
      %p Audrey Tautou plays Coco Chanel in this charming period drama about the early life of the fashion pioneer. Directed by Anne Fontaine.
      %p Cons: Mostly average and uninspiring performances and screenplay. Audrey Tautou’s amazing potential goes untapped here because of a poorly written depiction of one of fashion’s most enduring and inspirational names.
      %p Pros: The film being shot in beautiful locations and having people wearing beautiful clothes is a treat to watch. And then of course there’s the beautiful Audrey Tautou. Its rather ironic that a movie about a fashion legend is only skin-deep.
      %hr.space
      %p Rating: 3/5
    %h4
      The Hurt Locker
    %div
      %p Jeremy Renner, Anthony Mackie, and Brian Geraghty play members of a Explosive Ordinance Disposal Unit in Iraq. The film explores their fears and how they each choose to cope with it. Directed by Katherine Bigelow (who BTW was James Cameron’s ex-wife).
      %p Pros: Stellar performances from the three lead actors especially Jeremy Renner. Stunning cinematography by Barry Ackroyd and the fact that all the filming was done in Jordan, as far removed from a studio environment as possible makes each shot all the more realistic. Finally the subliminal direction makes sure that this picture doesn’t overwhelm you with emotion just enough to look deeper into the heroics of these soldiers and appreciate the more complete and realistic character portrayal.
      %p Cons: …
      %hr.space
      Rating: 5/5 and My pick for Best Film in the 2010 Oscars. Although that’s mainly because I got good odds on Avatar not winning ;).
