%h1
  A Review of Michael Hanenke's The White Ribbon
%span.categories
  film
%span.date
  23-02-2010
%p.content
  .snippet
    %p Stunning cinematography, wonderful performances by the child actors and the haunting mood that these create are about the only remarkable things that this film has to offer. After a string of award nominations and victories, I expected a whole lot more from this (horror?) thriller. While all the individual components that constitute a great film are there here it just fails to pull them all together to deliver anything of substance.
  .main
    %p Hanenke along with his regular Director of Photography, Christian Berger, has proven that he is a master at abstracting and exposing the darker side of humanity (Funny Games) and that once again is the theme of this film. Everything from incest and male chauvinism to murder and torture find a place in this film which is - as if to make a point - set in a seemingly idyllic german village.
    %p The delibrate framing of each shot is reminiscent of a Kubrick movie and the extensive use of mise en scene is indeed amazing. The stills during the extended periods of narration are so amazing they should be showcased just for their photographic genius. However since the film doesn’t try to go anywhere the use of these cinematographic techniques falls flat. While you end up praising the brilliance of individual scenes there’s always that moment between scene changes when you ask yourself “Alright, so what’s your point?”. And this feeling lasts throughout the duration of this rather long movie so-much-so that by the end watching the movie becomes rather a chore and you find yourself looking rather hard for the brilliance in the movie.
    %p If for nothing else I would watch this movie again just to see the scenes involving the pastors 2 eldest children. The characters of Klara and Martin are so wonderfully played by the young actors and are without a doubt the most haunting part of the film. Most of the performances were rather exceptional given that most of the cast are making their debut in feature films.
    %p In conclusion I would say that this was one of those films that, though executed beautifully, was made with a rather murky vision and that clearly manifests itself in the surprising lack of direction that is prevalent throughout the film. And jury at Cannes and the Academy of Motion Pictures have given it much more credit than is its due.
